  .App{
    background-image: url(/src/assets/netflix.jpg);
    height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .suscripcion{
    display: flex;
      flex-direction: column;
      max-width: 500px;
      color: white;
      text-align: center;
  }
  
  .suscripcion h3, .suscripcion span{
    font-size: 26px;
  }
  
  .suscripcion form{
    padding: 20px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
  .suscripcion form input{
    padding: 8px;
    border: none;
  }
  